[Unit]
Description=Enable usb network
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/usb-ctrl ecm usbeth0 on
ExecStop=/usr/bin/usb-ctrl ecm usbeth0 off

[Install]
WantedBy=multi-user.target