[Unit]
Description=Flash Host Bios firmware image %I to Host

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/sbin/bios-update.sh /tmp/images/%i
