[Unit]
Description=Start the change logo script
After=op-vpd-parser.service

[Service]
Restart=no
ExecStart=sh /usr/share/www/ChangeLogo.sh
SyslogIdentifier=ChangeLogo.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target