SUBSYSTEM=="nvmem", SUBSYSTEMS=="i2c", ACTION=="add", TAG+="systemd", ENV{SYSTEMD_WANTS}+="ibm-vpd-parser@%N.service"
SUBSYSTEM=="i2c", DRIVER=="ee1004", ENV{OF_NAME}=="eeprom", ACTION=="bind", TAG+="systemd", ENV{SYSTEMD_WANTS}+="ibm-isdimm-vpd-parser@%N.service"
SUBSYSTEM=="nvmem", SUBSYSTEMS=="spi", ENV{OF_NAME}=="eeprom", ACTION=="add", TAG+="systemd", ENV{SYSTEMD_WANTS}+="ibm-spi-vpd-parser@%N.service"
