[Unit]
Description=IBM VPD Manager
StopWhenUnneeded=false
Requires=system-vpd.service
After=system-vpd.service

[Service]
BusName=com.ibm.VPD.Manager
Type=dbus
Restart=always
RestartSec=5
ExecStart=/usr/bin/vpd-manager

[Install]
WantedBy=multi-user.target
