[Unit]
Description=Jedec format VPD Parser service for FRU %I
Wants=mapper-wait@-xyz-openbmc_project-inventory.service
After=mapper-wait@-xyz-openbmc_project-inventory.service
Requires=system-vpd.service
After=system-vpd.service
Before=phosphor-discover-system-state@0.service

[Service]
ExecStart=/usr/bin/env ibm-read-vpd --file %f --driver ee1004
SyslogIdentifier=ibm-isdimm-vpd-parser

[Install]
WantedBy=multi-user.target
