[Unit]
Description=System VPD Collection
Wants=mapper-wait@-xyz-openbmc_project-inventory.service
After=mapper-wait@-xyz-openbmc_project-inventory.service
Wants=obmc-power-reset-on@0.target
After=obmc-power-reset-on@0.target
Wants=mapper-wait@-xyz-openbmc_project-state-chassis0.service
After=mapper-wait@-xyz-openbmc_project-state-chassis0.service
After=set-spi-mux.service
Before=phosphor-discover-system-state@0.service

[Service]
ExecStart=/usr/bin/env ibm-read-vpd --file /sys/bus/i2c/drivers/at24/8-0050/eeprom --driver at24
SyslogIdentifier=ibm-vpd-parser
Type=oneshot
RemainAfterExit=yes

[Install]
RequiredBy=multi-user.target
