[Unit]
Description=First Boot Expire Password
Before=dropbearkey.service
ConditionFileNotEmpty=!/var/lib/dropbear/dropbear_rsa_host_key

[Service]
ExecStart=/usr/bin/passwd --expire root
ExecStart=/bin/systemctl --no-reload disable first-boot-expire-password.service
SyslogIdentifier=first-boot-expire-password
Type=oneshot
RemainAfterExit=Yes

[Install]
WantedBy=multi-user.target
