[Unit]
Description=Copy power specific system device tree blob to pnor rw partition
After=obmc-vpnor-updatesymlinks.service
Wants=obmc-vpnor-updatesymlinks.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'cp /var/lib/phosphor-software-manager/pnor/ro/DEVTREE /var/lib/phosphor-software-manager/pnor/rw/DEVTREE'
SyslogIdentifier=pdata

[Install]
WantedBy=multi-user.target
