[Unit]
Description=Copy power specific system device tree blob to /tmp
After=obmc-vpnor-updatesymlinks.service
Wants=obmc-vpnor-updatesymlinks.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'mkdir -p /tmp/pdata && cp /var/lib/phosphor-software-manager/pnor/ro/DEVTREE /tmp/pdata'
SyslogIdentifier=pdata

[Install]
WantedBy=multi-user.target
