[Unit]
Description=Start the change logo script
After=system-vpd.service
Before=bmcweb.service

[Service]
Restart=no
ExecStart=/usr/share/www/changeLogo.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
